.header {
  width: 100%;
  height: 50px;
  background: #444;
  > div {
    width: 1200px;
    height: 100%;
    margin: auto;
    a {
      width: 120px;
      height: 50px;
      display: block;
      img {
        padding-top: 10px;
        display: block;
        width: 100%;
      }
    }
  }
}
